<div class="row well" style="margin:0 5px 5px 5px;">
    <div class="col-sm-4">
        <div class="movie-poster">
            <img *ngIf="movie.poster != ''" [src]="movie.poster" class="thumbnail" style="width: 100%;" />
            <div *ngIf="movie.poster == ''" class="thumbnail blank-poster">No Poster Available</div>
        </div>
        <div>
            <a href="{{ 'http://www.imdb.com/title/' + movie.imdbID }}" target="_blank" class="btn btn-success btn-block">
                <i class="fa fa-file-movie-o"></i> View on Imdb
            </a>
        </div>
    </div>
    <div class="col-sm-8">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="glyphicon glyphicon-tag"></span> Title: {{ movie.title }}
            </li>
            <li class="list-group-item">
                <span class="glyphicon glyphicon-calendar"></span> Year: {{ movie.year }}
            </li>
            <li class="list-group-item">
                <span class="fa fa-users"></span> Actors: {{ movie.actors }}
            </li>
        </ul>
        <div class="panel panel-info">
            <div class="panel-heading">Synopsis</div>
            <div class="panel-body">
                <div>{{ movie.plot }}</div>
            </div>
        </div>
        <div class="panel-group" id="{{ 'accordion' + movie.imdbID }}" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{ 'heading' + movie.imdbID }}">
                    <h4 class="panel-title">
                        <a (click)="fetchDetails()" role="button" data-toggle="collapse" attr.data-parent="{{ '#accordion' + movie.imdbID }}" href="{{ '#collapse' + movie.imdbID }}" aria-expanded="true" attr.aria-controls="{{ 'collapse' + movie.imdbID }}">
                        Details
                        </a>
                    </h4>
                </div>
                <div id="{{ 'collapse' + movie.imdbID }}" class="panel-collapse collapse" role="tabpanel" attr.aria-labelledby="{{ 'heading' + movie.imdbID }}">
                    <div class="panel-body">
                        <div *ngIf="detailsFetched == false" class="text-center">
                            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>